{% extends "./Common/layout_view.html" %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ movie.detailbanneraddress }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-4" style="margin: 20px 0 20px 0;">
        <div class="col-md-4" style="width: 100%;">
            <img src="{{ movie.cardsrcaddress }}" style="max-width: 320px;" class="img-fluid rounded-start" alt="{{ movie.title}}">
        </div>
    </div>
    <div class="col-8 text-left" style="margin: 20px 0 20px 0; padding-left: 50px;">
        <h1>{{ movie.title }} <button style="margin-left: 10px; margin-bottom: 12px;" type="button" class="btn btn-warning">{{ movie.genre }}</button></h1>
        
        <p>{{ movie.description }}</p>
        <div class="row" style="padding-top: 20px;">
            <h6>Release Date:     <span style="margin-left: 10px;">{{ movie.release_date }}</span></h6>
            <h6>Running Time:     <span style="margin-left: 10px;">{{ movie.duration_mins }} mins</span></h6>
            <h6>Language:         <span style="margin-left: 10px;">{{ movie.language }}</span></h6>
            <h6>Country:          <span style="margin-left: 10px;">{{ movie.country }}</span></h6>
        </div>
    </div>
</div>

<div style="margin: 20px 0 20px 0;">
    <nav class="nav nav-underline">
        {% if booking_dates|length > 0 %}
            {% for key, value in booking_dates.items() %}
                <a class="nav-link" aria-current="page" href="{{ url_for('search_movies_by_screening_date', movieid=movie.id, date=key) }}">{{ key }}</a>
            {% endfor %}
        {% endif %}
    </nav> 

    <div class="col-md-8" style="margin: 20px 0 20px 0; width: 100%;">
        {% if movie.screening_list|length != 0 %}
            {% for screening in movie.screening_list %}
                <button type="button" class="btn btn-secondary btn-sm">{{ screening.starttime }}</button>
            {% endfor %}
        {% endif %}
    </div>
</div>


<style>
    .nav-link {
        color: rgb(69, 67, 67);
    }

    .btn {
        margin: 2px;
    }

</style>
{% endblock %}