{% extends "./Common/layout_view.html" %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/Banners/banner1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../static/Banners/banner2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../static/Banners/banner3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div style="margin: 20px 0 20px 0;">
    <nav class="nav nav-underline">
        <a class="nav-link active" aria-current="page" href="#">Today</a>
        <a class="nav-link" href="#">Tomorrow</a>
        <a class="nav-link" href="#">Sat 28/10</a>
        <a class="nav-link" href="#">Sun 29/10</a>
        <a class="nav-link" href="#">Mon 30/10</a>
        <a class="nav-link" href="#">Tue 31/10</a>
        <a class="nav-link" href="#">Wed 01/11</a>
        <a class="nav-link" href="#">Thu 02/11</a>
        <a class="nav-link" href="#">Fri 03/11</a>
        <a class="nav-link" href="#">Sat 24/11</a>
        <a class="nav-link" href="#">Sun 25/11</a>
    </nav>
</div>

<div class="row" >
    <div class="col-8" style="margin: 20px 0 20px 0;">
        {% if movie_list|length == 0 %}
        <h3>No movies found</h3>
        {% else %}
            {% for movie in movie_list %}
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="/movies/{{ movie.id }}">
                            <img src="{{ movie._cardsrcaddress }}" class="img-fluid rounded-start" alt="{{ movie.title }}">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <button type="button" class="btn btn-secondary btn-sm">12:20 PM</button>
                            <button type="button" class="btn btn-secondary btn-sm">2:55 PM</button>
                            <button type="button" class="btn btn-secondary btn-sm">5:30 PM</button>
                            <button type="button" class="btn btn-secondary btn-sm">6:00 PM</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-4" style="margin: 20px 0;">
        <form method="get" action="{{ url_for('search_movies') }}">
            <div class="mb-3">
                <input type="text" class="form-control" name="titleSearch" id="titleSearch" placeholder="Search by Movie Titles">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="languageSearch" id="languageSearch" placeholder="Search by Movie Language">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="genreSearch" id="genreSearch" placeholder="Search by Movie Genre">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="releasedateSearch" id="releasedateSearch" placeholder="Search for Movie Release Date">
            </div>
            <button type="submit" class="btn btn-outline-secondary" style="margin-top: 5px;">Search</button>
            <a href="{{ url_for('view_movie_list') }}" class="btn btn-outline-secondary" style="margin-top: 5px;">Clear Search</a>
        </form>
    </div>
    
</div>


<style>
    .nav-link {
        color: rgb(69, 67, 67);
    }

    .btn {
        margin: 2px;
    }
</style>
{% endblock %}