{% extends "./Common/layout_view.html" %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../static/Banners/banner1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="../static/Banners/banner2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="../static/Banners/banner3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div style="margin: 20px 0 20px 0;">
    <div class="row">
        {% for movie in movie_list %}
        
            <div class="col-md-3">
                <a href="/movies/{{ movie.id }}" style="color: black;">
                    <div class="card" style="width: 17rem; margin-top: 20px;">
                        <img src="{{ movie.cardsrcaddress }}" class="card-img-top" alt="{{ movie.title }}" style="height: 24rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <a href="/movies/{{ movie.id }}" class="btn btn-dark">Book Now</a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}